:root {
    --mainColor: #E40101;
    --secondaryColor: blue;
    --thirdColor: #FFFFCC;
    --bord: 1px solid black;
    --bordRad: 15px;
}

@media screen and (min-width: 768px) {
    picture img {
        max-width: 100%;
        max-height: 100vh;
        object-fit: fill;
    }
}

@media screen and (min-width: 1024px) {

    main {
        max-width: 100%;
        max-height: 100%;
    }

    #dataTitle,
    #weatherTitle {
        background-color: var(--thirdColor);
        width: 100%;
        padding: 1em;
    }

    #weatherTitle {
        text-align: right;
    }

    #heroImageContainer {
        max-height: 100%;
    }

    picture img {
        height: 100vh;
        object-fit: fill;
    }

    #dataContainer {
        position: fixed;
        left: 0;
        top: 100px;
        z-index: 99999;
        border-radius: var(--bordRad);
        padding: 1em;
    }

    #weatherContainer {
        position: fixed;
        right: 0;
        bottom: 100px;
        z-index: 9999999;
        border-radius: var(--bordRad);
        padding: 1em;
    }

    #weatherTitle::after {
        padding-left: 10px;
        content: "⛅";
    }

    #weatherIcon {
        display: none;
    }

    footer {
        max-width: 100%;
    }
}