:root {
    --mainColor: #E40101;
    --secondaryColor: blue;
    --thirdColor: #FFFFCC;
    --bord: 1px solid black;
    --bordRad: 15px;
}

body {
    max-width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

header {
    background-color: var(--secondaryColor);
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--secondaryColor);
}

#heroTitle {
    color: var(--thirdColor);
    max-width: 100%;
    padding: 1em;
    background-color: var(--mainColor);
    margin: 0;
}

#heroImageContainer {
    max-width: 100%;
    background-color: var(--secondaryColor);
}

picture img {
    width: 100%;
    margin: 0;
    object-fit: contain;
}

#dataContainer,
#weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border-bottom: 1px solid #eee;
}

#dataContainer li,
#weatherContainer li {
    list-style-type: none;
}

.dataItem,
.weather {
    font-weight: 600;
    padding: .5em;
}

.dataValue,
.value {
    font-weight: 400;
}




footer {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: var(--mainColor);
    padding: .5em;
    color: var(--thirdColor);
    margin: 0 auto;
    align-items: center;
}