body {
    font-family: Roboto, sans-serif;
}

header,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #eeeeee;
    padding: 1em;
    background-color: rgb(131, 131, 255);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}